  table{
      font-size: 12px;
      width: 100%;
      text-align: center;
      margin: 20px 0;
      padding: 0;
      border-collapse: separate;
      border-spacing: 0;
  }

  thead{
      color: #ffffff;
      background-color: #6c7ae0;
  }

  th, td{
    padding: 10px;
    text-align: center;
  }

  tbody > tr:nth-of-type(odd) { 
	background: #eee; 
}

tfoot{
    color: #ffffff;
    background-color: #6c7ae0;
}

table tr:first-child th:first-child {
    border-top-left-radius: 5px;
  }
  
  table tr:first-child th:last-child {
    border-top-right-radius: 5px;
  }
  
  table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }
  
  table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }

  .quotation-summary{
      float: right;
  }

  footer{
      background-color: #6c7ae0;
  }

  footer > ul{
    padding: 10px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

/*Basic styling*/
.font-14{
    font-size: 12px !important;
}

.font-12{
    font-size: 12px!important;
}

.center{
    text-align: center;
}

.italics{
    font-style: italic !important;
}

.bold{
    font-weight: bold !important;
}

.float-right{
    float: right;
}


