.productSearchResults__container{
    width: 200px;
}

.productSearchResults__result{
    padding: 10px;
}

.productSearchResults__result:hover{
    background-color: #ebebeb;
}

.productSearchResults__heading{
    text-transform: uppercase;
    color: blue;
}

.productSearchResults__content{
    text-transform: capitalize;
    font-size: 12px;
}

.productSearchResults__meta{
    font-size: 12px;
    color: 	#696969
}